<div class="navbar">

</div>


 <div class="container">
   <div class="row">

       <div class="col-9">
         <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. 
         przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. 
         Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, 
         zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker
         </p>
       </div>
       <div class="col-3">
         <header>
           <h3>Szybki kontakt: </h3>
         </header>
           <ul class="nav-content">
               <li class="nav">
                 <a class="fab fa-facebook-square" href="#"></a>
               </li>
               <li class="nav">
                 <a class="fab fa-twitter" href="#"></a>
               </li>
               <li class="nav">
                   <a class="fab fa-instagram" href="#"></a>
                 </li>
             </ul>
       </div>

       <div class="scroll">
         <button class="btn btn-success">
           <i class="fa fa-arrow-circle-up" aria-hidden="true"> </i>
             Do góry
         </button>
       </div>

   </div>  
   
 </div>
 
<section>

<div class="footer">
 Copyrights © Aleksandra Niedziela | 2019

</div>
</section>

<script type="text/javascript" src='js/navbar.js'></script>
<script type="text/javascript" src='js/scroll.js'></script>